<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="active"><a href="#">Timeline <span class="sr-only">(current)</span></a></li>
    
  </ul>
  <ul class="nav nav-sidebar">
    <li><%= link_to('Students', students_path) %></li>
    <li><%= link_to('Parents', parents_path) %></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><%= link_to('Schools', schools_path) %></li>
    <li><%= link_to('Teachers', teachers_path) %></li>
    <li><%= link_to('Instruments', instruments_path) %></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><%= link_to('Books', books_path) %></li>
    <li><%= link_to('Songs', songs_path) %></li>
    <li><%= link_to('Composers', composers_path) %></li>
  </ul>
</div>