<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.dob %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>

<h3>Relatives</h3>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Relation</th>
      <th>Telephone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @student.parentages.each do |parentage| %>
    <tr>
      <td><%= link_to(parentage.parent.name, parentage.parent) %></td>
      <td><%= parentage.parent_type.name if parentage.parent_type %></td>
      <td><%= parentage.parent.telephone %></td>
      <td><%= parentage.parent.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= link_to 'Add New', new_student_parent_path(@student) %> 

<h3>Teachers</h3>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
    <% @student.mentorships.each do |mentorship| %>
    <tr>
      <td><%= link_to(mentorship.teacher.name, mentorship.teacher) %></td>
      <td><%= mentorship.start_date %></td>
      <td><%= mentorship.end_date %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to 'Add New', new_student_mentorship_path(@student) %> 

<h3>Assignments</h3>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Song</th>
    </tr>
  </thead>
  <tbody>
    <% @student.assignments.each do |assignment| %>
    <tr>
      <td><%= link_to(assignment.created_at.strftime("%m-%d-%Y"), assignment) %></td>
      <td><%= assignment.song.title %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to 'Add New', new_student_assignment_path(@student) %> 

