<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @composer.name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @composer.dob %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @composer.bio %>
</p>

<%= link_to 'Edit', edit_composer_path(@composer) %> |
<%= link_to 'Back', composers_path %>
