<%= form_for(@teacher) do |f| %>
  <% if @teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% @teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :education %><br>
    <%= f.text_area :education %>
  </div>
  <div class="field">
    <%= f.label :honors %><br>
    <%= f.text_area :honors %>
  </div>
  <div class="field">
    <%= f.label :experience %><br>
    <%= f.text_area :experience %>
  </div>
  <div class="field">
    <h3>Instruments</h3>
      <%= hidden_field_tag "teacher[instrument_ids][]", nil %>
      <% Instrument.all.each do |item| %>
      <div class='checkbox_field'>
        <%= check_box_tag "teacher[instrument_ids][]", item.id, @teacher.instrument_ids.include?(item.id), id: dom_id(item) %>
        <%= label_tag dom_id(item), item.name %>
      </div>
      <% end %>
    </div>
    
  <div class="field">
    <h3>Schools</h3>
      <%= hidden_field_tag "teacher[school_ids][]", nil %>
      <% School.all.each do |item| %>
      <div class='checkbox_field'>
        <%= check_box_tag "teacher[school_ids][]", item.id, @teacher.school_ids.include?(item.id), id: dom_id(item) %>
        <%= label_tag dom_id(item), item.name %>
      </div>
      <% end %>
    </div>
    
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
