<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parent.name %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @parent.telephone %>
</p>

<p>
  <strong>Location:</strong>
  <%= @parent.location %>
</p>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
