<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parent.name %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @parent.telephone %>
</p>

<h3>Children</h3>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @parent.student.each do |student| %>
    <tr>
      <td><%= link_to(student.name, student) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to 'Edit', edit_parent_path(@parent) %> |
<%= link_to 'Back', parents_path %>
