<p id="notice"><%= notice %></p>

<h1>Listing Parent Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parent_types.each do |parent_type| %>
      <tr>
        <td><%= parent_type.name %></td>
        <td><%= link_to 'Show', parent_type %></td>
        <td><%= link_to 'Edit', edit_parent_type_path(parent_type) %></td>
        <td><%= link_to 'Destroy', parent_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Parent type', new_parent_type_path %>
